*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(234, 29%, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

input::-moz-placeholder {
  font-weight: 400;
}

p,
input::placeholder {
  font-weight: 400;
}

h1,
label,
span,
button {
  font-weight: 700;
}

.btn {
  color: hsl(0, 0%, 100%);
  background-color: hsl(234, 29%, 20%);
  border: none;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1.2rem;
}
.btn:hover {
  background: linear-gradient(90deg, rgb(255, 89, 105) 0%, rgb(255, 112, 88) 50%, rgb(255, 131, 70) 100%);
  cursor: pointer;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
  width: 1024px;
}

.newsletter {
  display: none;
  padding: 1.5rem 1.5rem 1.5rem 0;
  background-color: hsl(0, 0%, 100%);
  color: hsl(234, 29%, 20%);
  border-radius: 25px;
}
.newsletter .newsletter__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 57%;
  padding: 0 3.5rem;
}
.newsletter .newsletter__content h1 {
  font-size: 4rem;
}
.newsletter .newsletter__content > p {
  margin-top: 1.2rem;
}
.newsletter .newsletter__content ul {
  margin-top: 1.2rem;
}
.newsletter .newsletter__content ul li {
  display: flex;
  list-style: none;
  margin-top: 0.8rem;
}
.newsletter .newsletter__content ul li img {
  margin-right: 0.85rem;
}
.newsletter .newsletter__content form {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.newsletter .newsletter__content form label {
  font-size: 0.8rem;
}
.newsletter .newsletter__content form input#email {
  border-radius: 5px;
  border: 1px solid hsl(231, 7%, 60%);
  padding: 1rem 1.2rem;
  margin-top: 0.5rem;
}
.newsletter .newsletter__content form input#email:hover {
  border: 1px solid hsl(234, 29%, 20%);
  cursor: pointer;
}
.newsletter .newsletter__content form input#email:focus {
  outline: none;
  border: 1px solid hsl(234, 29%, 20%);
}
.newsletter .newsletter__illustration {
  width: 43%;
  height: 593px;
  background-image: url("../images/illustration-sign-up-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
}

.success {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: hsl(0, 0%, 100%);
  color: hsl(234, 29%, 20%);
  border-radius: 25px;
  padding: 3.5rem;
  margin: 0 auto;
}
.success img {
  width: 65px;
}
.success h1 {
  font-size: 3.4rem;
}
.success h1,
.success button {
  margin-top: 2.7rem;
}
.success p {
  margin-top: 1.2rem;
}

@media (max-width: 1024px) {
  .container {
    width: 750px;
  }
  .success {
    padding: 2.5rem;
  }
  .success h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  body {
    display: block;
    background-color: hsl(0, 0%, 100%);
  }
  .container {
    width: auto;
    padding: 0;
  }
  .newsletter {
    flex-direction: column;
    padding: 0;
    border-radius: 0;
  }
  .newsletter .newsletter__content {
    flex-direction: column;
    width: auto;
    padding: 2rem 1.5rem;
    order: 2;
  }
  .newsletter .newsletter__content h1 {
    font-size: 3rem;
  }
  .newsletter .newsletter__content ul li {
    align-items: flex-start;
  }
  .newsletter .newsletter__illustration {
    width: auto;
    height: 284px;
    background-image: url(../images/illustration-sign-up-mobile.svg);
    border-radius: 0 0 15px 15px;
  }
  .success {
    width: auto;
    border-radius: 0;
    padding: 1.5rem;
    margin: 0;
  }
  .success h1 {
    font-size: 3rem;
  }
}/*# sourceMappingURL=style.css.map */